.badge_svg {
    position: relative;
    padding: 0px 10px;
}

span.badge_icon.badge.bg-primary {
    position: absolute;
    top: 1px;
    left: 26px;
    border-radius: 10px;
    z-index: 0;
    background: #ff7675 !important;
    width: 20px;
    height: 20px;
}
