div#products img {
    width: 100%;
    height: 250px;
}
div#products .h5 {
    font-size: 15px;
}

div#products h2 {
    font-size: 18px;
}

div#products .card {
    position: relative;
}



div#products button {
    position: absolute;
    top: 67%;
    left: 17%;
    transition: 3s;
    /* display: none; */
    width: 58%;
    border-radius: 25px;
    color: #fff;
}

div#products .card button {
    display: none;
    transform: translateY(50px);
    transition: 0.3s;
    background-color: #ff7675;
    border:none;
}

div#products .card:hover button {
    display: block;
    transition: 0.3s;
    transform: translateY(-25px);
}

