/* .header {
  text-align: center;
  background-color: #2b62a1;
  padding: 2px;
}
.header a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.my-lg-0.justify-content-end.navbar-nav span {
  margin-top: 9px;
  margin-right: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.my-lg-0.justify-content-end.navbar-nav button {
  border: none;
  color: #fff;
  background: #d2fb2dbf;
  padding: 1px 27px;
  border-radius: 7px;
} */
